.form__lableText {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__field:required {
    border-color: black;
}

.form__field:invalid {
    background-color: hsl(0, 100%, 90%);
}

.form__field:disabled {
    background-color: rgb(205, 206, 208);
}

.form__field:read-only{
    background-color: rgb(242, 235, 235);
}

.form__field--select.form__field--select{
    background-color: green;
}

.form__field--textarea{
    resize: vertical;
    min-height: 60px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: blue;
}

.form__button:active {
    background-color: hsl(240, 100%, 90%);

}

.form__fieldset {
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding: 10px;
}